html {
    --black: #010203;
    display: block;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Source Sans', sans-serif;
    color:#010203;
    font-size: 25px;
    padding-left: 1.4rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'Source Sans', sans-serif;
    color:#010203;
    font-size: 20px;
    padding-bottom: 1rem;
    padding-left: 1.4rem;
}

p {
    font-family: 'Source Sans', sans-serif;
    color:#010203;
    font-size: 14.5px;
    padding-bottom: 1rem;
    padding-left: 1.4rem;
    padding-top: 1rem;
}

ol {
    font-family: 'Source Sans', sans-serif;
    color:#010203;
    font-size: 14.5px;
    padding-left: 3rem;
}

.body {
    display: flex;
}

.webpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.exterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.interior {
    display: flex;
    background: #010203;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.interiorinterior {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}
.secondwebpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.secondexterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.secondinterior {
    display: flex;
    border-style: solid;
    border-color: #dedede;
    border-width: .25px;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.secondinteriorinterior {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}
.linewebpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.lineexterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}
.lineinterior {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}
.rectangle {
    display: flex;
    background: #010203;
    width: 1.461vw;
    height: 42.857143vh;
    position: relative;
    margin: auto;
    z-index: 500;
}
.rectangle1 {
    display: flex;
    background: #010203;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    margin-left: 0;
    z-index: 500;
}
.rectangle12 {
    display: flex;
    background: #010203;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    margin-right: 0;
    z-index: 500;
}
.rectangle5 {
    display: flex;
    background: #fff;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 500;
}
.rectangle6 {
    display: flex;
    background: #fff;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 500;
}
.rectangle7 {
    display: flex;
    background: #fff;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 500;
}
.rectangle8 {
    display: flex;
    background: #fff;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 500;
}
.smallrectangle5 {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 42.857143vh;
    clip-path: polygon(100% 100%, 0 100%, 0 50.5%, 17% 50.8%, 17% 47.7%, 0 48%, 0 0, 100% 0, 100% 34%, 75% 34%, 75% 47.2%, 100% 46.8%, 100% 52%, 75% 51.6%, 75% 67%, 100% 67%);
    margin: auto;
    position: relative;
    z-index: 500;
}
.smallrectangle6 {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 42.857143vh;
    clip-path: polygon(100% 100%, 0 100%, 0 54.6%, 17% 55%, 17% 45.2%, 0 45.3%, 0 0, 100% 0, 100% 34%, 75% 34%, 75% 44.5%, 100% 44.3%, 100% 56.2%, 75% 55.8%, 75% 67%, 100% 67%);
    margin: auto;
    position: relative;
    z-index: 500;
}
.smallrectangle7 {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 42.857143vh;
    clip-path: polygon(100% 100%, 0 100%, 0 58.8%, 17% 59.1%, 17% 42.5%, 0 42.7%, 0 0, 100% 0, 100% 34%, 75% 34%, 75% 41.8%, 100% 41.5%, 100% 60.3%, 75% 59.9%, 75% 67%, 100% 67%);
    margin: auto;
    position: relative;
    z-index: 500;
}
.smallrectangle8 {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 42.857143vh;
    clip-path: polygon(100% 100%, 0 100%, 0 62.7%, 17% 63%, 17% 39.8%, 0 40%, 0 0, 100% 0, 100% 34%, 75% 34%, 75% 39.3%, 100% 38.95%, 100% 64.4%, 75% 64%, 75% 67%, 100% 67%);
    margin: auto;
    position: relative;
    z-index: 500;
}
.addition1 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 1.6757vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition2 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.3773vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition3 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.3773vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition4 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition5 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition6 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition7 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition8 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition9 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition10 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition11 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 2.4919vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}
.addition12 {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: .25px;
    width: 1.461vw;
    height: 42.857143vh;
    margin: auto;
    position: relative;
    z-index: 1;
}