html {
    --black: #000000;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Source Sans', sans-serif;
    color:#000000;
    font-size: 30px;
}

h2 {
    font-family: 'Source Sans', sans-serif;
    color:#000000;
    font-size: 20px;
    padding-bottom: 1rem;
}

p {
    font-family: 'Source Sans', sans-serif;
    color:#000000;
    font-size: 14.5px;
    padding-bottom: 1rem;
}

ol {
    font-family: 'Source Sans', sans-serif;
    color:#000000;
    font-size: 14.5px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}