html {
    --black: #010203;
    background: #dedede;
    display: block;
    scroll-behavior: smooth;
}

a:link {
    color: #010203;
    text-decoration: none;
}

a:hover {
    background-color: #fff;
    color: #010203;
}

a:visited {
    color: #010203;
}

h1 {
    font-family: 'Exo', sans-serif;
    color:#010203;
    font-size: 25px;
    padding-left: 3rem;
    padding-top: 2.5rem;
}

h2 {
    font-family: 'Exo', sans-serif;
    color:#010203;
    font-size: 20px;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
}

p {
    font-family: 'Exo', sans-serif;
    color:#010203;
    font-size: 14.5px;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-top: 1rem;
}

ol {
    font-family: 'Exo', sans-serif;
    color:#010203;
    font-size: 30px;
    padding-left: 3rem;
    list-style-type: none;
}

.body {
    display: flex;
}

.webpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    background-color: #dedede;
    width: 100%;
    height: 100vh;
}

.exterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.interior {
    display: flex;
    background: #010203;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.interiorinterior {
    display: flex;
    background: #fff;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

.secondwebpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.secondexterior {
    display: flex;
    background: #fff;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.secondinterior {
    display: flex;
    border-style: solid;
    border-color: #dedede;
    border-width: .25px;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.secondinteriorinterior {
    display: flex;
    background: #010203;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

.linewebpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.lineinterior {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.step1 {
    display: flex;
    justify-content: center;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.step2 {
    display: flex;
    justify-content: center;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.step3 {
    display: flex;
    justify-content: center;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.step4 {
    display: flex;
    justify-content: center;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.colortransparencyI {
    display: flex;
    margin: auto;
    width: 71.438571vw;
    height: 71.438571vh;
}

.colortransparencyII {
    display: flex;
    margin: auto;
    width: 71.438571vw;
    height: 71.438571vh;
}

.colortransparencyIII {
    display: flex;
    margin: auto;
    width: 71.438571vw;
    height: 71.438571vh;
}

.valuematching {
    display: flex;
    margin: auto;
    width: 71.438571vw;
    height: 71.438571vh;
}











.cmpage {
    display: flex;
    background: #dedede;
    width: 100vw;
    height: 100vh;
}

.cmoutersquare {
    display: flex;
    background: #fff;
    width: 71.438571vw;
    height: 71.438571vh;
    margin: auto;
}

.cminnersquare {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.image {
    position: absolute;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    object-fit: cover;
}

.hover {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin-left: 14.285714vw;
    margin-top: 14.285714vh;
}

.square {
    width: 14.285714vw;
    height: 14.285714vh;
    margin: 0;
}

#s1 {
    background: #311c10;
}

#s2 {
    background: #054039;
}

#s3 {
    background: #152144;
}

#s4 {
    background: #ed2a26;
}

#s5 {
    background: #5659a7;
}

#s6 {
    background: #723818;
}

#s7 {
    background: #ec5636;
}

#s8 {
    background: #51c0ab;
}

#s9 {
    background: #e5b57f;
}